.container {
width: 100%;
height: 100%;
/*smooth scrool*/
/* overflow-y: scroll; */
/* scroll-behavior: smooth */
/* background: url(./images/glass/IMG_7197.JPG)no-repeat center center/cover; */

}
.navbar {
  margin-top: 250px;
  position: fixed;

  z-index: 1;
  display: flex;

 width: 300px;
  height: 200px;
  /* background: rgb(252, 250, 250); */


 
}

html {
  scroll-snap-type: y proximity;
  transition: all 1s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.navbar ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100vw;
  justify-content: center;
  
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
  color: white;
  letter-spacing: 3px;
  width: 250px;
  
}

.navbar ul li > .active {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  text-decoration: none;
 font-size: 1.2rem;
  color: white
}
* {
  margin:0;
  padding:0
}


 ul li:hover {
  color: #87ceeb;
  cursor: pointer;
}

body {
  font-family: 'Lato', sans-serif;
  background: black;
  color: #fff;
  line-height: 1.6;
  height: 100vh;
  
}



section#home {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center  ;
text-align:center;
width: 100%;
height: 100vh;
color: white;


}
section {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align:center;
width: 100%;
height: 100vh;
color: white;

 

}


.image-container {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.catalog-image1 {
  width: 400px;
  flex-grow: 2;
  margin: 10px
}
.catalog-image {
  width: 400px;
  
}

section h1 {
font-size: 2rem;
margin: 0 1rem;
padding: 1rem;
font-weight: normal;
letter-spacing: 3px;

}



section p {
font-size: 1.5rem
}
/* section#home::after {
  content: "";
  background: url(./images/glass/Aurora\ Lantern.JPG);
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
} */
section#catalog:hover {
  /* background: url(./images/glass/IMG_7197.JPG)no-repeat center center/cover;  */
}
.lantern {
  width: 700px;
  margin: 20px;
  }

  .logo {
    width: 200px;
    margin-left: 50px;
  }

  .glass {
    background: white;
    background: linear-gradient(to right bottom, rgba(255,255,255, 0.7), rgba(255,255,255,0.3));
   border-radius: 1rem;
   padding: 10px;
   
  }
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 50px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  .material-icons:hover {
    color: skyblue;
    font-size: 70px;
  }

  
.glass-h1{
  background: white;
  background: linear-gradient(to right bottom, rgba(255,255,255, 0.7), rgba(255,255,255,0.3));
 border-radius: 1rem;
 padding: 10px;
}
@media screen and (max-width: 375px) {
  .navbar ul li {
    margin: 0 1rem;
    padding: 1rem 0rem
  }
  /* section#home::after {
    content: "";
    background: url(./images/glass/Green\ Pea\ Pod.JPG) no-repeat right center/cover;;
    opacity:1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  } */
  section#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    width: 100%;
    height: 100vh;
    
    }
    section#home h1 {
      margin-top: 100px;
      }
    }
   .link {
     color: white;
     text-decoration: none;
   
   }
   .button-link {
    border: 1px solid white;
    padding: 10px;
    width: 315px;
    color: white;
    text-decoration: none;
    font-weight: bold;
   }
   .button-link:hover {
    border: 1px solid white;
    /* border-top: 1px solid white;
    border-bottom: 3px solid white; */
    padding: 15px;
    transition: padding 0.3s ease-in-out;
  -webkit-transition: padding 0.3s ease-in-out;
  -moz-transition: padding 0.3s ease-in-out;
  -ms-transition: padding 0.3s ease-in-out;
    /* width: 350px; */
     font-weight: bold;
     background: url(./images/glass/IMG_7197.JPG)no-repeat center center/cover; 
   }
   .link:hover {
    color: skyblue;
  
   }
  
    .arrow {
      width: 10px;
      height: 10px;
    }


 @import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
 
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}
input:focus, textarea:focus{
  color: #bbb5af;
  width: 450px;
  border: 1px solid white;
  margin: 10px;
}

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;

}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}



header {
  position: relative;
  margin: 100px 0 25px 0;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;

}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: #726659;
  
  border: solid 0.5px white;

  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #b3aca7;
  color: #e2dedb;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  
  border: solid 0.5px white;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}

#submit {
  width: 502px;
  
  padding: 0;
  margin: 5px 0px 0px 0px;
  
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #b3aca7;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px white;

}

#submit:hover {
  color: #e2dedb;
}


.each-slide > div img {
 
  width: 600px;
  height: 600px;
  object-fit: contain;

}


.each-slide div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-container {


width: 40%

}