.container {
width: 100%;
height: 100%;
/*smooth scrool*/
/* overflow-y: scroll; */
/* scroll-behavior: smooth */
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(0,0,0,0.7);
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100vw;
  justify-content: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem
}

.navbar ul li > .active {
  border-bottom: 1px solid white
}
* {
  margin:0;
  padding:0
}

.link {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4
}
.link:hover {
  color: skyblue;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: #fff;
  line-height: 1.6;
  height: 100vh;
  overflow: scroll;
}



section {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align:center;
width: 100%;
height: 100vh;
scroll-snap-align: center;
}



section h1 {
font-size: 2rem
}



section p {
font-size: 1.5rem
}

section#home {
background: url(./images/glass/Aurora\ Lantern.JPG) no-repeat center center/cover;
}
/* section#home::after {
  content: "";
  background: url(./images/glass/Aurora\ Lantern.JPG);
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
} */
section#catalog {
  background: url(./images/glass/Green\ Pea\ Pod.JPG) no-repeat center center/cover;
}

@media screen and (max-width: 375px) {
  .navbar ul li {
    margin: 0 1rem;
    padding: 1rem 0rem
  }
  section#home::after {
    content: "";
    background: url(./images/glass/Green\ Pea\ Pod.JPG) no-repeat center center/cover;;
    opacity:1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }
  section#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align:center;
    width: 100%;
    height: 100vh;
    }
    section#home h1 {
      margin-top: 100px;
      }

}